{% extends "_base.html" %}

{% block js %}
	{{ parent() }}
	<script src="js/profile.js"></script>
{% endblock %}

{% block title %}World&apos;s Most Inclusive Professional Network{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}

{% block subnav %}
	<p>Something something.</p>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-3">
		<img src="images/people/blank.jpg" class="img-responsive" alt="Riley Reid's Profile Picture">
	</div>
	<div class="col-xs-9">
		<h1>{{ user.FullName() }} 
		{% if user.Email() == session.Email() %}
			<a id="btn-profile-edit" class="btn btn-primary" href="editprofile.php" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
			<a id="btn-profile-done-editing" class="btn btn-success hidden" href="#" role="button"><span class="glyphicon glyphicon-ok"></span> Done Editing</a>
		{% else %}
			{% if user.hasConnection(session.Email()) %}
				<a id="btn-profile-connected" class="btn btn-success" href="editprofile.php" role="button"><span class="glyphicon glyphicon-star"></span> Connected</a>
			{% elseif user.hasConnection(session.Email(), 'pending') or user.hasConnection(session.Email(), 'rejected') %}
				<a id="btn-profile-pending" class="btn btn-warning" href="editprofile.php" role="button"><span class="glyphicon glyphicon-time"></span> Request Pending</a>
			{% else %}
				<a id="btn-profile-request" class="btn btn-primary" href="editprofile.php" role="button"><span class="glyphicon glyphicon-envelope"></span> Send Request</a>
			{% endif %}
		{% endif %}
		<input id="profile-userid" type="hidden" value="{{ user.Id() }}">
		</h1>
		<h2><span id="profile-title">{{ user.Profile().Title() }}</span></h2>
		<h4>Aliases: <span id="profile-aliases">{{ user.Profile().Aliases() }}</span></h4>
		
		<p>Website: <span id="profile-website">{{ user.Profile().Website() }}</span>, Twitter: @<span id="profile-twitter">{{ user.Profile().Twitter() }}</span></p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3 class="page-header">Connections</h3>
		<p>
			{% for user in user.Connections() %}
				<a href="profile.php?u={{ user.Id() }}"><img src="images/people/blank.jpg" style="width: 48px; height: 48px;" data-toggle="tooltip" data-placement="bottom" title="{{ user.FullName() }}"></a>
			{% endfor %}
		</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3 class="page-header">Background</h3>
	</div>
	<div class="col-xs-4">
		<p>Location: <span id="profile-location">{{ user.Profile().Location() }}</span></p>
		<p>Date of Birth: <span id="profile-dob">{{ user.Profile().DateOfBirth() }}</span></p>
		<p>Starting Year: <span id="profile-debut">{{ user.Profile().Debut() }}</span></p>
	</div>
	<div class="col-xs-4">
		<p>Measurements: <span id="profile-measurements">{{ user.Profile().Measurements() }}</span></p>
		<p>Height: <span id="profile-height">{{ user.Profile().Height() }}</span></p>
		<p>Eyes Color: <span id="profile-eyescolor">{{ user.Profile().EyesColor() }}</span></p>
		<p>Hair Color: <span id="profile-haircolor">{{ user.Profile().HairColor() }}</span></p>
	</div>
	<div class="col-xs-4">
		<p>Race: <span id="profile-race">{{ user.Profile().Race() }}</span></p>
		<p>Ethnic Origin: <span id="profile-ethnicity">{{ user.Profile().Ethnicity() }}</span></p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3 class="page-header">Work Experience</h3>
	</div>
	<div class="col-xs-12">
		<h4>Jules Jordan Video</h4>
		<h4 style="color:gray">15 films from 2011 - Present</h4>
		<p>Interracial, Cum Shots, Threesomes, Oral, Gangbang, Gonzo, Orgy, Squirting, All Sex, Young</p>
	</div>
	<div class="col-xs-12">
		<h4>Evil Angel</h4>
		<h4 style="color:gray">3 films from 2014</h4>
		<p>Oral, Cum Shots, Compilation, POV, Vignettes</p>
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
					<th>Length</th>
					<th>Category</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cum Crossfire</td>
					<td>2014</td>
					<td>146</td>
					<td>Oral, Cum Shots</td>
				</tr>
				<tr>
					<td>Oral Overdose</td>
					<td>2014</td>
					<td>326</td>
					<td>Oral, Compilation, POV</td>
				</tr>
				<tr>
					<td>Penis Pixies</td>
					<td>2014</td>
					<td>166</td>
					<td>Vignettes</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3 class="page-header">Skills</h3>
	</div>
</div>
{% endblock %}
